<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dynamic Content</title>
    <style>
        .product-container {
            display: inline-block;
            border: 1px solid #ccc;
            padding: 10px;
            margin: 10px;
            width: 200px;
            vertical-align: top;
        }
        .product-title {
            font-size: 1.2em;
            margin-bottom: 10px;
        }
        .product-price {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div>
        <h1>Products:</h1>
        <% products.forEach(product => { %>
            <div class="product-container">
                <div class="product-title"><%= product.title %></div>
                <p><%= product.description %></p>
                <p class="product-price">Price: $<%= product.price %></p>
                <p>Brand: <%= product.brand %></p>
            </div>
        <% }); %>
    </div>
</body>
</html>
